html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: var(--additional-dark, #1F3A58);
    padding-bottom: 168px;
}

.form-control {
    background-color: var(--main-dark, #03183E);
    color: #fff;
}

    .form-control:focus {
        color: #fff;
        box-shadow: 0 0 0 0.1rem #ffdf17;
        background-color: var(--main-dark, #03183E);
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: rgba(3, 24, 62, 0.6);
        color: rgba(244, 244, 244, 0.6);
        border: none;
        border-radius: 5px;
        margin: 0;
    }



h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: Inter;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #FFF !important;
}

i {
    color: #fff;
}

span {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

label {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-select {
    background-color: var(--additional-dark, #1F3A58);
    color: #fff;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

    .form-select:focus {
        color: #fff;
        box-shadow: 0 0 0 0.1rem #ffdf17;
    }

    .link_button {
    /* кнопка */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 10px;
    }

    .link_button:hover {
        color: #ffdf17 !important;
        border-bottom: 4px solid #ffdf17;
        background: 0 0;
    }

    .link_button:hover span{
        color: #ffdf17 !important;
    }

.link_button_nodecorate {
    /* кнопка */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .link_button_nodecorate:hover {
        color: #ffdf17 !important;
        background: 0 0;
    }

        .link_button_nodecorate:hover i {
            color: #ffdf17 !important;
        }

        .link_button_nodecorate:hover span {
            color: #ffdf17 !important;
        }

.main_button {
    border-radius: 5px;
    background: #03183E;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.main_button_light {
    background: var(--additional-dark, #1F3A58);
}

.main_button:hover {
    background: #ffdf17;
    transition: 0.3s;
    transform: scale(1.01);
}

    .main_button:hover span {
        color: black;
    }


.add_icon:hover i {
    color: greenyellow;
}

.edit_icon:hover i {
    color: deepskyblue;
}

.delete_icon:hover i {
    color: red;
}


.modal-content {
    background: var(--main-dark, #03183E);
    padding: 60px 180px;
    width: 660px;
    height: auto;
}

.modal_card {
    width: 300px;
}