html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: var(--additional-dark, #1F3A58);

}

a {
    text-decoration: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    color: #FFF!important;
}

span {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link_button {
    /* кнопка */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

    .link_button:hover {
        color: #ffdf17 !important;
        border-bottom: 4px solid #ffdf17;
        background: 0 0;
    }

.link_button_nodecorate {
    /* кнопка */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

    .link_button_nodecorate:hover {
        color: #ffdf17 !important;
        background: 0 0;
    }