

<div class="d-flex flex-column align-content-center">

	<div class="text-center choosing_title"><h1>Матеріали конспектів</h1></div>

	<div class="text-center mb-5"><h4>Оберіть напрям підготовки</h4></div>

	<div class="d-flex flex-wrap flex-row justify-content-between">
		<a class="main_button choosing_item" onclick="GetThemes(0)"><span>Функціональна підготовка</span></a>
		<a class="main_button choosing_item" onclick="GetThemes(1)"><span>Психологічна підготовка</span></a>
		<a class="main_button choosing_item" onclick="GetThemes(2)"><span>Домедична допомога</span></a>
		<a class="main_button choosing_item" onclick="GetThemes(3)"><span>Профільна підготовка</span></a>
		<a class="main_button choosing_item" onclick="GetThemes(4)"><span>Гуманітарна підготовка</span></a>
		<a class="main_button choosing_item" onclick="GetThemes(5)"><span>Додаткові заняття</span></a>

	</div>

</div>



<style>

	.choosing_title{
		margin-top: 7%;
		margin-bottom: 7%;
	}

	.choosing_item{
		width: 30%;
		height: 60px;
		margin-bottom: 25px;
	}
</style>