<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SES.Web</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/SES.Web.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/8/82/DSNS_emblem_2016.svg">

</head>
<body>
	<header>
		<div class="container-fluid text-center header">
			<div class="container justify-content-between align-content-between align-items-center d-inline-flex" style="width: 53%">

				<div class="header_btn">
					<a class="link_button" asp-action="Index" asp-controller="User">
						@if (User.Identity.IsAuthenticated)
						{
							<span>Кабінет</span>
						}
					</a>
				</div>
				<div class="header_btn">
					<a class="link_button" asp-action="Index" asp-controller="Abstract">
						@if (User.Identity.IsAuthenticated)
						{
							<span>Матеріали конспектів</span>
						}
					</a>
				</div>

				<div class="header_img"><a asp-action="Index" asp-controller="Home"><img height="80" width="80" src="https://upload.wikimedia.org/wikipedia/commons/8/82/DSNS_emblem_2016.svg" /></a></div>

				<div class="header_btn">
					<a class="link_button">
						@if (User.Identity.IsAuthenticated)
						{
							<span>
								Підготовчі тестування
							</span>
						}

					</a>
				</div>
				<div class="header_btn">
					<a class="link_button" asp-action="Logout" asp-controller="Account">
						@if (User.Identity.IsAuthenticated)
						{
							<span>
								Вийти
							</span>
						}
					</a>
				</div>


			</div>
		</div>
	</header>

	<div class="container" style="width: 53%">
		<main role="main">
			@RenderBody()
		</main>
	</div>

	<footer class="footer text-center d-flex flex-wrap">
		<div class="container footer_line justify-content-between align-content-between align-items-center d-inline-flex" style="width: 53%">
			<div class="d-flex flex-column">
				<div class="footer_item d-flex align-items-center">
					<div class="footer_title"><span>ДСНС - разом і надійно!</span></div>
				</div>

				<div class="footer_item d-flex align-items-center">
					<div class="footer_icon"><img height="60" width="60" src="https://upload.wikimedia.org/wikipedia/commons/8/82/DSNS_emblem_2016.svg" /></div>
					<div class="d-flex flex-column text-start justify-content-between">
						<span>Державна служба України</span>
						<span> з надзвичайних ситуацій</span>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column">
				<div class="footer_item d-flex text-start">
					<div class="footer_icon"><i class="bi bi-geo-alt"></i></div>
					<div class="d-flex flex-column text-start justify-content-between">
						<span>ГУ в місті Київ за адресою:</span>
						<a class="link_button_nodecorate" target="_blank" href="https://maps.app.goo.gl/Zi4Z3se6jdbKNEAH8">вул. О.Гончара 55-а</a>
					</div>
				</div>
				<div class="footer_item d-flex ">
					<div class="footer_icon"><i class="bi bi-clock"></i></div>
					<div class="d-flex flex-column text-start  justify-content-between">
						<span>пн-пт: 08:00 - 18:00</span>
						<span>сб-нд: 09:00 - 17:00</span>
					</div>
				</div>
			</div>
			<div class="d-flex flex-column">
				<div class="footer_item d-flex text-start">
					<div class="footer_icon"><i class="bi bi-info-circle"></i></div>
					<div class="d-flex flex-column text-start  justify-content-between">
						<span>044-202-32-11</span>
						<a href="https://dsns.gov.ua/uk" target="_blank" class="link_button_nodecorate"> kyiv.dsns.gov.ua</a>
					</div>
				</div>
				<div class="footer_item d-flex align-items-center">
					<div class="footer_icon"><i class="bi bi-envelope"></i></div>
					<div class="d-flex flex-column text-star  justify-content-betweent">
						<a class="link_button_nodecorate">kyiv@dsns.gov.ua</a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div id="successToast" class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="https://cdn-icons-png.flaticon.com/512/6785/6785304.png" width="15" height="15" class="rounded me-2" alt="...">
				<strong class="me-auto">Успіх</strong>
			</div>
			<div class="toast-body">
				<span id="s_toastText"></span>
			</div>
		</div>
	</div>

	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div id="errorToast" class="toast custom-toast" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				<img src="https://cdn-icons-png.flaticon.com/512/463/463612.png" width="15" height="15" class="rounded me-2" alt="...">
				<strong class="me-auto">Упс</strong>	
			</div>
			<div class="toast-body">
				<span id="e_toastText"></span>
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
	.header {
		background: #03183E;
		line-height: 120px;
	}

	.header_btn {
		width: auto;
	}

	.header_img {
		width: 80px;
		height: 80px;
	}

		.header_img img {
			vertical-align: inherit;
		}

	.footer {
		height: 168px !important;
		background: var(--main-dark, #03183E);
		line-height: inherit !important;
		color: #fff;
	}

	.footer_line {
		padding: 10px;
	}

	.footer_title span {
		color: #FFF;
		font-family: Inter;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.footer_item {
		padding: 10px;
		height: 60px;
	}

	.footer_icon {
		font-size: 30px;
		margin-right: 10px;
	}

</style>