@{
	ViewData["Title"] = "Головна";
}

<div class="d-flex align-items-center justify-content-center" style="height: calc(100vh - 288px);">
    <div class="main_item d-flex justify-content-center">
        <div class="main_img">
            <img src="https://images.unsplash.com/photo-1651368615152-0f793d44e32e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1585&q=80" />
        </div>
        <div class="d-flex flex-column text-start  justify-content-between" style="padding: 20px; max-width: 480px">
            <span style="font-size: 30px; font-weight: 700;">Підвищення кваліфікації - ключ до професійного успіху</span>
            <span>
                Щорічне підвищення кваліфікації - це ваша можливість продовжувати рости та розвиватися як фахівець. Ви вже знаєте, наскільки важливо бути готовими до будь-яких ситуацій, і ваша невтомна праця рятує життя та майно безлічі людей. <br /><br />
            Пам'ятайте, що ніколи не зупиняйтеся на досягнутому. Кожна година, яку ви витрачаєте на навчання, кожен новий навичка, яку ви освоюєте, робить вас ще сильнішими та впевненішими у собі. Ваша праця має значення, і ми вдячні вам за вашу невтомну роботу та відданість.</span>
        </div>
    </div>
</div>

<style>


	.main_img {
		height: 320px;
		width: 520px;
        padding: 20px;
	}

		.main_img img {
			max-height: 100%;
			max-width: 100%;
		}
</style>